/* body{
    margin: 2000;
  padding: 2000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(71, 58, 58);

}

h1{
     margin: 20;
  padding: 20;
    color: rebeccapurple;
    text-align: center;
}

h2{
  margin-left: 200px;
  padding: 20;

}

p{
    margin: 200;
  padding: 20;
    color: red;
}
/* div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
} */
/* .signform {

  width: 600px;
  padding: 10px;
  border: 5px solid gray;
  margin-right: 150px;
  margin-left: 80px;
}

ul#email li {
    padding: 20px;
    display:inline;
}

ul#pass li {
    padding: 20px;
    display:inline;

}

ul#confpass li {
    padding: 20px;
    display:inline;

}

ul#username li {
    padding: 20px;
    display:inline;

}
p#signup {
    margin-left: 200px;
    color:green;

}

div#submit {

    margin-left: 200px;
}  */

/* body {
  padding-top: 70px;
  padding-bottom: 30px;
}
*/
/* .btn-primary{
  padding: auto;
margin: auto;
width: 50%;

}
div.padded{
  padding: 25px;
}

div.formformat {

   margin: auto;
  width: 50%;
  border: 1px solid rgb(139, 146, 128);
  padding: 50px;

} 

div.centre{
  margin: auto;
  width: 50%;
}

div.btnspacing{
  padding:1px;
  color: red;
}
.btn .btn-primary{
  color: red;
  background-color: green;
}

#test{
 margin-top: 10px;
 margin-left: auto;
 align-items: center;
}
#legtitle { 
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
} */

.container{
    padding: 10px;
    background-color:  dimgrey;
    color: white;
}